<div id="site-header">
  <header id="header" class="header-block-top">
    <div class="container">
      <div class="row">
        <div class="main-menu">
          <!-- navbar -->
          <nav class="navbar navbar-default" id="mainNav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo">
                <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                  <img src="./assets/images/logo (1) (1).png" style="height: 43px;" alt="">
                </a>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="{{ r?'':'active' }}"><a [routerLink]="'/home'">หน้าแรก</a></li>
                <li class="{{ r=='about'?'active':'' }}"><a [routerLink]="'/home'" [queryParams]="{r:'about'}">เกี่ยวกับเรา</a></li>
                <li routerLinkActive="active"><a [routerLink]="'/product'">เมนู</a></li>
                <li class="{{ r=='promotion'?'active':'' }}"><a [routerLink]="'/home'" [queryParams]="{r:'promotion'}">โปรโมชั่น</a></li>
                <li class="{{ r=='contact'?'active':'' }}"><a [routerLink]="'/home'" [queryParams]="{r:'footer'}">ติดต่อเรา</a></li>
                <li *ngIf="login" routerLinkActive="active" ><a [routerLink]="'/orders'">คำสั่งซื้อของฉัน</a></li>
                <li *ngIf="!login" routerLinkActive="active"><a [routerLink]="'/login'">เข้าสู่ระบบ</a></li>
                <li *ngIf="login" routerLinkActive="active"><a [routerLink]="'/cart'" (click)="onLogout()" tooltip="ออกจากระบบ" placement="top">{{ name }}</a></li>
                <li *ngIf="login" routerLinkActive="active"><a [routerLink]="'/cart'" tooltip="ดูตะกร้าสินค้า" placement="top"><i class="fas fa-shopping-cart"></i>({{ cart }})</a></li>
              </ul>
            </div>
            <!-- end nav-collapse -->
          </nav>
          <!-- end navbar -->
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </header>
  <!-- end header -->
</div>