<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="register" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">{{ name }}</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div #target style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li><i class="fas fa-home"></i></li>
                <li><a routerLink="/product">ไอศกรีม</a></li>
                <li>{{ category }}</li>
                <li class="active">{{ name }}</li>
            </ul>

            <p class="text-right">
                <i class="fas fa-shopping-cart"></i>
                {{ cart }} รายการ
            </p>
            <!-- Product-detail -->
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-product-detail" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img src="{{ image }}" alt="">
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-product-detail" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 class="bold" style="font-size: 30pt;margin-bottom: 12px;">{{ name }}</h3>
                        <p>
                            อร่อยดับร้อนไปกับไอศกรีมรส {{ name }} <br>
                            {{ content }}
                        </p>
                        <h3 class="bold" style="margin-top: 30px;margin-bottom: 10px;">รายละเอียดสินค้า</h3>
                        <ul style="margin-bottom:30px;">
                            <li>
                                <p><i class="fas fa-check-circle" style="margin:0px 10px;color:#fdcb03;"></i>ไอศกรีม
                                    Homemade </p>
                            </li>
                            <li>
                                <p><i class="fas fa-check-circle" style="margin:0px 10px;color:#fdcb03;"></i>รสชาติ {{
                                    taste }}</p>
                            </li>
                        </ul>
                        <p class="tag-price" style="margin-bottom: 30px;">
                            {{ price | currency:'THB':'symbol-narrow':'1.2-2' }}
                        </p>
                        <button *ngIf="userid" (click)="addOnCart(_id)" class="btn btn-warning"
                            style="background: #fdcb03;border:0px;padding:10px 24px;margin-bottom: 10px;">
                            <i class="fas fa-shopping-cart"></i>
                            เพิ่มใส่ตะกร้า
                        </button>
                        <button *ngIf="!userid" [routerLink]="'/login'" class="btn btn-warning"
                            style="background: #2b2304;border:0px;padding:10px 24px;margin-bottom: 10px;">
                            <i class="fas fa-lock"></i>&nbsp;
                            กรุณาเข้าสู่ระบบก่อน
                        </button>
                        <br>
                        <div class="btn-group">
                            <button class="btn">
                                <a href="https://www.facebook.com/SnowmilkGelato-100458305445574" target="_blank">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </button>
                            <button class="btn">
                                <a href="https://www.facebook.com/messages/t/100458305445574" target="_blank">
                                    <i class="fab fa-facebook-messenger"></i>
                                </a>
                            </button>
                            <button class="btn">
                                <a href="https://liff.line.me/1645278921-kWRPP32q?openerPlatform=native&openerKey=urlSchema%3Aexternal&accountId=293ykvhw#mst_challenge=Dg4h1QHzl2Rl-GDsY9LZiOBdJEf0Mxk13KWdiWwtLhs"
                                    target="_blank">
                                    <i class="fab fa-line"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="bold" style="margin:40px 0px 0px 0px;">
                สินค้าอื่น ๆ ที่น่าสนใจ
            </h3>
            <!-- Other Product -->
            <div class="row">
                <div *ngFor="let data of rand_product.items;" class="col-md-3">
                    <div (click)="changeProduct(data._id,target)" class="card-rand shadow33" tooltip="ดูสินค้า"
                        placement="bottom">
                        <img src="{{ data.image }}" alt="" style="width: 100%;object-fit: cover;">
                        <div class="card-body">
                            <h3 class="bold">{{ data.name }}</h3>
                            <p class="p-0 m-0">{{ data.taste }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>


</app-auth-content>