<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li *ngFor="let data of c.items;let i=index;">
                                <a [routerLink]="'/product'" [queryParams]="{category:data._id}">
                                    {{ data.name }}
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <a *ngFor="let data of promote.items;" class="promote-img" [routerLink]="'/promotion'"
                                [queryParams]="{_id:data._id}"><img src="{{ data.image }}" class="img-thumbnail"></a>
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <!-- ส่วนรายละเอียดธนาคาร -->
                    <div>
                        <h4 class="bold">
                            รายการคำสั่งซื้อของฉัน
                        </h4>
                        <table class="table table-orders">
                            <thead>
                                <tr>
                                    <th>
                                        ลำดับ
                                    </th>
                                    <th>
                                        รายการสั่งซื้อ
                                    </th>
                                    <th>
                                        รายละเอียด
                                    </th>
                                    <th>
                                        ราคา
                                    </th>
                                    <th>
                                        สถานะ
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of o.items;let i = index;">
                                    <td>
                                        {{ i+1 }}
                                    </td>
                                    <td class="bold">
                                        <u>#00{{ data._id }}</u>
                                    </td>
                                    <td>
                                        <p>{{ data.dor | dateAgo }}</p>
                                        <p class="small" style="color:rgb(148, 148, 148)">
                                            {{ data.dor | date:'dd MMMM yyyy' }}
                                        </p>
                                    </td>
                                    <td>
                                        {{ data.total | currency:'THB':'symbol-narrow':'1.2-2' }}
                                    </td>
                                    <td class="bold"
                                        [ngStyle]="{'color':data.status==0?'red':data.status==1?'orange':'green'}">
                                        {{ data.status==0?'ยังไม่ชำระเงิน':data.status==1?'รอการตรวจสอบ':'จัดส่งแล้ว' }}
                                        <button class="btn btn-small btn-success" *ngIf="data.supplies" [tooltip]="data.supplies">
                                            <i class="fas fa-shipping-fast"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-info" (click)="goToSuccess(data._id)"
                                            tooltip="ดูรายละเอียด">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="margin-top:30px;">
                            แสดงรายการ {{ o.items.length>0?'1':'0' }} - {{ o.items.length }} จากทั้งหมด {{o.total_items
                            }} รายการ
                        </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>


</app-auth-content>