<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li>
                                <a href="">
                                    Snowwhite
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    คนแคระ
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <img src="http://html.lionode.com/focus/image/banners/LeftBanner.jpg?fbclid=IwAR3xa7eRqCsPDTiJeBhyYLuEDXU4KZIdP1sqsdWSc3eE277L6XRLtqKqQTE"
                                class="img-thumbnail">
                            <img src="https://img.his.in.th/cdn-cgi/image/format=auto/his/image/upload/w_640,h_853,c_fill,f_jpg/his/product/p6gLs2NmBtGG0aJNpUaRx0W6Dx0cIqQY/PH804808-a2.jpg"
                                class="img-thumbnail">
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="box-product wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 class="bold">ตะกร้าสินค้า</h3>
                        <table class="table table-cart">
                            <thead>
                                <tr>
                                    <th style="width: 16%;">รูปภาพ</th>
                                    <th style="width: 20%;">สินค้า</th>
                                    <th style="width: 16%;">ประเภท</th>
                                    <th style="width: 16%;">จำนวน</th>
                                    <th style="width: 16%;">ราคาต่อหน่วย</th>
                                    <th style="width: 16%;">รวมทั้งสิ้น</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://storage.naiin.com/system/application/bookstore/resource/product/202009/511781/1000235565_front_XXXL.jpg?imgname=BLACK-CLOVER-%E0%B9%80%E0%B8%A5%E0%B9%88%E0%B8%A1-24"
                                            alt="" style="height: 90px;width: 100%;object-fit: cover;"
                                            class="thumbnail">
                                    </td>
                                    <td>Black Clover</td>
                                    <td>หนังสือการ์ตูน</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" style="border:1px solid black" class="form-control"
                                                value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default"
                                                    style="background: black;color:white;border:1px solid black"
                                                    tooltip="นำออก" placment="bottom">
                                                    <i class="fas fa-close"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        ฿300.00
                                    </td>
                                    <td class="text-right">
                                        ฿1,500.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://storage.naiin.com/system/application/bookstore/resource/product/202009/511781/1000235565_front_XXXL.jpg?imgname=BLACK-CLOVER-%E0%B9%80%E0%B8%A5%E0%B9%88%E0%B8%A1-24"
                                            alt="" style="height: 90px;width: 100%;object-fit: cover;"
                                            class="thumbnail">
                                    </td>
                                    <td>Black Clover</td>
                                    <td>หนังสือการ์ตูน</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" style="border:1px solid black" class="form-control"
                                                value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default"
                                                    style="background: black;color:white;border:1px solid black"
                                                    tooltip="นำออก" placment="bottom">
                                                    <i class="fas fa-close"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        ฿300.00
                                    </td>
                                    <td class="text-right">
                                        ฿1,500.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 style="font-size: 20PT;">
                            สิ่งที่คุณต้องการครบแล้วใช่หรือไม่ ?
                        </h3>
                        <p style="font-size: 12pt;">
                            ขั้นตอนต่อไป กรุณาระบุว่าคุณมีรหัสส่วนลด หรือคะแนนสะสมที่คุณต้องการใช้หรือไม่
                            หรือประมาณค่าจัดส่งของคุณทันที
                        </p>
                        <accordion [isAnimated]="true">
                            <accordion-group>
                                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                    <div class="pull-left float-left">ใช้คูปองส่วนลด</div>
                                    <span class="pull-right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </button>
                                <label for="">กรอกคูปองส่วนลดของคุณที่นี่</label>
                                <div class="input-group">
                                    <input type="text" placeholder="กรอกคูปองส่วนลดของคุณที่นี่" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning">
                                            ใช้คูปอง
                                        </button>
                                    </span>
                                </div>
                            </accordion-group>
                            <accordion-group [isOpen]="true">
                                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                    <div class="pull-left float-left">ประมานค่าจัดส่ง</div>
                                    <span class="pull-right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </button>
                                <p>กรุณากรอกรายละเอียด และที่อยู่ในการจัดส่งสินค้าให้ครบถ้วน เพิ่มความมั่นใจในการส่งสินค้าถึงปลายทาง จากนั้นคลิกปุ่ม</p>
                                <div class="form-group">
                                    <label for="">ชื่อผู้รับ</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">ที่อยู่</label>
                                    <textarea class="form-control" cols="30" rows="3"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">ตำบล</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">อำเภอ</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">จังหวัด</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">รหัสไปรษณีย์</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>

                    </div>

                </div>

                <div class="col-md-9">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <table class="table table-cart">
                        <tbody>
                            <tr style="text-align: right;">
                                <th style="white-space: nowrap;">ยอดรวม:</th>
                                <td>฿210.00</td>
                            </tr>
                            <tr style="text-align: right;">
                                <th style="white-space: nowrap;">
                                    ค่าจัดส่ง
                                </th>
                                <td>฿150.00</td>
                            </tr>
                            <tr style="text-align: right;">
                                <th style="white-space: nowrap;">
                                    ส่วนลด
                                </th>
                                <td>฿10.00</td>
                            </tr>
                            <tr style="text-align: right;">
                                <th style="white-space: nowrap;">
                                    รวมทั้งสิ้น
                                </th>
                                <td>฿360.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button class="btn pull-left" style="background: black;color: white;">
                        <i class="fas fa-caret-left"> </i>
                        &nbsp;เลือกสินค้าต่อ
                    </button>
                    <button class="btn pull-right btn-warning" [routerLink]="['/success']">
                        <i class="fas fa-check"> </i> 
                        ยืนยันการสั่งซื้อ
                    </button>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <div id="footer" class="footer-main">
        <!-- end footer-news -->
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="./assets/images/logo.png" style="height: 64px;" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>เกี่ยวกับเรา</h3>
                                <p>Snowmilk Gelato ไอศกรีมโฮมเมดระดับพรีเมียม รสชาติเข้มข้นถูกปากคนไทย</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>สินค้าใหม่</h3>
                                <ul>
                                    <li><a href="#">Italian Bomba Sandwich</a></li>
                                    <li><a href="#">Double Dose of Pork Belly</a></li>
                                    <li><a href="#">Spicy Thai Noodles</a></li>
                                    <li><a href="#">Triple Truffle Trotters</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>ติดต่อเรา</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>421 ซอยร่วมสุข 4/18 ตำบล บ้านใหม่ อำเภอเมืองปทุมธานี ปทุมธานี 12000</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
                                        094-442-8897
                                    </span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span><a href="#">snowmilkgelato@gmail.com</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>รสชาติไอศกรีม</h3>
                                <h4 style="color:white">ที่ได้ชิมคำแรกก็ติดใจ</h4>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end footer-in-main -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->

                <!-- end copyright-main -->
            </div>
            <!-- end footer-box -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title"> Copyright &copy; 2017 Food Funday is powered by <a href="#"
                                    target="_blank"></a>
                            </h6>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
        </div>
    </div>

</app-auth-content>