<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li *ngFor="let data of c.items;let i=index;">
                                <a [routerLink]="'/product'" [queryParams]="{category:data._id}">
                                    {{ data.name }}
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <a *ngFor="let data of promote.items;" class="promote-img" [routerLink]="'/promotion'"
                                [queryParams]="{_id:data._id}"><img src="{{ data.image }}" class="img-thumbnail"></a>
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="box-product wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 class="bold">ตะกร้าสินค้า</h3>
                        <table class="table table-cart">
                            <thead>
                                <tr>
                                    <th style="width: 16%;">รูปภาพ</th>
                                    <th style="width: 20%;">สินค้า</th>
                                    <th style="width: 16%;">ประเภท</th>
                                    <th style="min-width: 100px;">จำนวน</th>
                                    <th style="width: 16%;">ราคาต่อหน่วย</th>
                                    <th style="width: 16%;">รวมทั้งสิ้น</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of item.items;let i = index;">
                                    <td>
                                        <img src="{{ data.image }}" alt=""
                                            style="height: 90px;width: 100%;object-fit: cover;" class="thumbnail">
                                    </td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.category }}</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" (change)="calculate()" min="1" [(ngModel)]="qty[i]"
                                                style="border:1px solid black" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default"
                                                    style="background: black;color:white;border:1px solid black"
                                                    tooltip="นำออก" (click)="onRemove(data._id)" placment="right">
                                                    <i class="fas fa-close"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        {{ data.price | currency:'THB':'symbol-narrow':'1.2-2' }}
                                    </td>
                                    <td class="text-right">
                                        {{ data.price*qty[i] | currency:'THB':'symbol-narrow':'1.2-2' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 style="font-size: 20PT;">
                            สิ่งที่คุณต้องการครบแล้วใช่หรือไม่ ?
                        </h3>
                        <p style="font-size: 12pt;">
                            ขั้นตอนต่อไป กรุณาระบุว่าคุณมีรหัสส่วนลด หรือคะแนนสะสมที่คุณต้องการใช้หรือไม่
                            หรือประมาณค่าจัดส่งของคุณทันที
                        </p>
                        <accordion [isAnimated]="true">
                            <accordion-group>
                                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                    <div class="pull-left float-left">ใช้คูปองส่วนลด</div>
                                    <span class="pull-right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </button>
                                <label for="">กรอกคูปองส่วนลดของคุณที่นี่</label>
                                <div class="input-group">
                                    <input type="text" [(ngModel)]="coupon" placeholder="กรอกคูปองส่วนลดของคุณที่นี่"
                                        class="form-control">
                                    <span class="input-group-btn">
                                        <button (click)="onCoupon()" class="btn btn-warning">
                                            ใช้คูปอง
                                        </button>
                                    </span>
                                </div>
                                <h5 class="bold" style="margin-top: 15px;">โปรโมชั่นอื่น ๆ</h5>
                                <input type="checkbox"  [(ngModel)]="isChecked" (change)="checkValue(isChecked?'true':'false')" id=""> โปรโมชั่นซื้อมากแจกแถม
                                <p *ngIf="promo_condition">
                                    *ลดทันที {{ promo_condition[0].discount }} % *เมื่อซื้อครบ
                                    {{ promo_condition[0].type==1?promo_condition[0].condit:promo_condition[0].condit |
                                    number:'1.2-2' }}
                                    {{ promo_condition[0].type==1?'ชิ้น':'บาท' }}
                                    {{ promo_condition[0].max_discount==0?'ไม่มีขั้นต่ำ':'สูงสุดไม่เกิน' }} {{
                                    promo_condition[0].max_discount>0?promo_condition[0].max_discount:'' }}
                                    <span *ngIf="promo_condition[0].max_discount>0"> บาท</span>
                                </p>
                                <p *ngIf="isChecked">
                                    • ซื้อครบ 10 ชิ้นขึ้นไปแถม 1 (ลดทันที 60 บาท) <br>
                                    • ซื้อครบ 15 ชิ้นขึ้นไปแถม 3 (ลดทันที 180 บาท)  <br>
                                    • ซื้อครบ 20 ชิ้นขึ้นไปแถม 5 (ลดทันที 300 บาท)  <br>
                                    <span style="color:maroon;">**ได้รับส่วนลด {{ discount }} บาท</span>
                                </p>
                                <p *ngIf="promo_condition" class="text-success">
                                    ส่วนลดของคุณคือ {{ discount }} บาท <br>
                                    <span class="text-danger" *ngIf="discount==0">**ไม่ตรงตามเงื่อนไขโปรโมชั่น</span>
                                </p>
                            </accordion-group>
                            <accordion-group [isOpen]="true">
                                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                    <div class="pull-left float-left">ประมานค่าจัดส่ง</div>
                                    <span class="pull-right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </button>
                                <p>กรุณากรอกรายละเอียด และที่อยู่ในการจัดส่งสินค้าให้ครบถ้วน
                                    เพิ่มความมั่นใจในการส่งสินค้าถึงปลายทาง จากนั้นคลิกปุ่ม</p>
                                <form [formGroup]="form">
                                    <div class="form-group">
                                        <label for="">ชื่อผู้รับ</label>
                                        <input formControlName="name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">ที่อยู่</label>
                                        <textarea formControlName="addr" class="form-control" cols="30"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">แขวง/ตำบล</label>
                                                <input formControlName="subdis" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">เขต/อำเภอ</label>
                                                <input formControlName="dis" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">จังหวัด</label>
                                                <!-- <input formControlName="prov" type="text" class="form-control"> -->
                                                <select (ngModelChange)="onChange($event)" class="form-control" formControlName="prov">
                                                    <option *ngFor="let data of province;" [value]="data">{{ data }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">รหัสไปรษณีย์</label>
                                                <input formControlName="post" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </accordion-group>
                        </accordion>


                    </div>
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-5">
                        <div style="overflow-x:auto!important;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr style="text-align: right;">
                                        <th style="white-space: nowrap;">ยอดรวม:</th>
                                        <td>
                                            {{ amount | currency:'THB':'symbol-narrow':'1.2-2' }}
                                        </td>
                                    </tr>
                                    <tr style="text-align: right;">
                                        <th style="white-space: nowrap;">
                                            ค่าจัดส่ง
                                        </th>
                                        <td>{{ shipping | currency:'THB':'symbol-narrow':'1.2-2' }}</td>
                                    </tr>
                                    <tr style="text-align: right;">
                                        <th style="white-space: nowrap;">
                                            ส่วนลด
                                        </th>
                                        <td>{{ discount | currency:'THB' : 'symbol-narrow' :'1.2-2' }}</td>
                                    </tr>
                                    <tr style="text-align: right;">
                                        <th style="white-space: nowrap;">
                                            รวมทั้งสิ้น
                                        </th>
                                        <td>{{ amount+shipping-discount | currency:'THB':'symbol-narrow':'1.2-2' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn pull-left" [routerLink]="'/product'" style="background: black;color: white;">
                            <i class="fas fa-caret-left"> </i>
                            &nbsp;เลือกสินค้าต่อ
                        </button>
                        <button class="btn pull-right btn-warning" (click)="onSubmit()">
                            <i class="fas fa-check"> </i>
                            ยืนยันการสั่งซื้อ
                        </button>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>


</app-auth-content>