<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li *ngFor="let data of c.items;let i=index;">
                                <a [routerLink]="'/product'" [queryParams]="{category:data._id}">
                                    {{ data.name }}
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <a *ngFor="let data of promote.items;" class="promote-img" [routerLink]="'/promotion'"
                                [queryParams]="{_id:data._id}"><img src="{{ data.image }}" class="img-thumbnail"></a>
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="successBody wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="body">
                            <h3 class="bold text-center">
                                <i class="fas fa-check-circle text-success" style="font-size: 40pt;color: #71D32B;"></i>
                                <br>
                                สั่งซื้อเรียบร้อย ({{
                                o.status==0?'ยังไม่ชำระเงิน':o.status==1?'รอการตรวจสอบ':o.status==2?'กำลังจัดส่ง':'สำเร็จ'
                                }})
                            </h3>
                            <p class="text-center">
                                รายการสั่งซื้อของคุณคือ #00{{ o._id }}
                            </p>
                            <table class="text-center table" border="2" borderColor="#d4d4d4" style="margin-top:30px;">
                                <tr>
                                    <td style="width: 33%;">
                                        <h1 class="text-primary">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </h1>
                                        <h4 class="bold">
                                            ชำระค่าสินค้า และแจ้งชำระเงินภายใน
                                        </h4>
                                        <h2 class="text-primary bold">
                                            {{ o.dor | date:'dd MMMM yyyy' }}
                                        </h2>
                                        <p>เวลา {{ o.dor | date:'h:mm' }} น.</p>
                                    </td>
                                    <td style="width: 33%;">
                                        <h1 class="text-primary" style="color:rgb(255,140,0)">
                                            <i class="far fa-money-bill-alt"></i>
                                        </h1>
                                        <h4 class="bold">
                                            จำนวนเงินที่ต้องชำระ
                                        </h4>
                                        <h2 class="text-primary bold" style="color:rgb(255,140,0)">
                                            {{ o.price | currency:'THB':'symbol-narrow':'1.2-2' }}
                                        </h2>
                                        <p>เลือกวิธีการชำระเงินด้านล่างนี้</p>
                                    </td>
                                    <td style="width: 33%;">
                                        <h1 class="text-success"
                                            [ngStyle]="{'color':o.status==0?'red':o.status==1?'orange':'green'}">
                                            <i class="fas fa-hourglass-half"></i>
                                        </h1>
                                        <h4 class="bold">
                                            สถานะรายการสั่งซื้อ
                                        </h4>
                                        <h2 *ngIf="o.status" class="text-primary bold"
                                            [ngStyle]="{'color':o.status==0?'red':o.status==1?'orange':'green'}">
                                            {{
                                            o.status==0?'ยังไม่ชำระเงิน':o.status==1?'รอการตรวจสอบ':o.status==2?'กำลังจัดส่ง':'สำเร็จ'
                                            }}
                                        </h2>
                                        <p>กรุณาชำระเงินตามข้อมูลที่ระบุ</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p style="padding:15px 32px;">
                            คุณสามารถดูรายละเอียดการสั่งซื้อได้ที่ <b><u>รายการสั่งซื้อ #00{{ o._id }}</u></b>
                            หรือดูรายการสั่งซื้อทั้งหมดที่ <b><u>คำสั่งซื้อของฉัน</u></b>
                        </p>
                    </div>

                    <div style="margin-top:20px;">
                        <accordion [isAnimated]="true">
                            <accordion-group>
                                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                    <div class="pull-left float-left">รายละเอียดการสั่งซื้อ</div>
                                    <span class="pull-right">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </button>
                                <table class="table table-cart">
                                    <thead>
                                        <tr>
                                            <th style="width: 16%;">รูปภาพ</th>
                                            <th style="width: 20%;">สินค้า</th>
                                            <th style="width: 16%;">ประเภท</th>
                                            <th style="min-width: 100px;">จำนวน</th>
                                            <th style="width: 16%;">ราคาต่อหน่วย</th>
                                            <th style="width: 16%;">รวมทั้งสิ้น</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of item.items;" class="text-center">
                                            <td>
                                                <img src="{{ data.image }}" style="width: 100%;" alt="" class="thumbnail">
                                            </td>
                                            <td>{{ data.name }}</td>
                                            <td>{{ data.category }}</td>
                                            <td>
                                                {{ data.qty }}
                                            </td>
                                            <td class="text-right">
                                                {{ data.price | currency:'THB':'symbol-narrow':'1.2-2' }}
                                            </td>
                                            <td class="text-right">
                                                {{ data.price*data.qty | currency:'THB':'symbol-narrow':'1.2-2' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                ส่วนลด
                                            </td>
                                            <td class="text-right text-success">
                                                -{{ o.discount | currency:'THB':'symbol-narrow':'1.2-2' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                ค่าขนส่ง
                                            </td>
                                            <td class="text-right">
                                                +{{ supply-amount | currency:'THB':'symbol-narrow':'1.2-2' }}
                                            </td>
                                        </tr>
                                        <tr class="bold">
                                            <td colspan="5">
                                                รวมทั้งสิ้น
                                            </td>
                                            <td class="text-right">
                                                {{ o.total | currency:'THB':'symbol-narrow':'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </accordion-group>
                        </accordion>
                    </div>

                    <div style="padding:30px 0px;">
                        <div style="margin:30px 0px;">
                            <h2 class="text-center">
                                เมื่อลูกค้าชำระเงินแล้ว ส่งหลักฐานการชำระเงินมาที่
                            </h2>
                            <h2 class="text-center bold">
                                <u>เมนูแจ้งชำระเงิน</u>
                            </h2>
                        </div>

                        <h4 class="bold">
                            ชำระเงินผ่านธนาคาร
                        </h4>
                        <table class="table" style="padding:10px;">
                            <tr class="border" style="margin-bottom: 20px;border-radius: 8px;">
                                <td style="width: 10%;padding:10px;">
                                    <img style="width: 100%;"
                                        src="https://www.myarduino.net/images/banks/SCB.jpg?fbclid=IwAR101qEXbJmE40oRPq2GlW2uSPATktIAdCnozRSs_5zvHFWfUNH_0WbAbBo"
                                        alt="">
                                </td>
                                <td style="width: 52%;padding:8px 22px;">
                                    <h4 class="bold" style="margin:0px;padding:0px;">
                                        ธ.ไทยพาณิชย์
                                    </h4>
                                    <p>
                                        สาขาเซ็นทรัลพลาซา ขอนแก่น | ออมทรัพย์
                                    </p>
                                </td>
                                <td class="text-right" style="width: 30%;padding:8px 22px;">
                                    <p style="margin:0px;padding:0px;">บริษัท ทรัพย์พศวัฒน์ จำกัด</p>
                                    <h3 style="margin:0px;padding:0px;">
                                        044-075847-1
                                    </h3>
                                </td>
                            </tr>
                            <tr class="border" style="margin-bottom: 10px;border-radius: 8px;">
                                <td style="width: 10%;padding:10px;">
                                    <img style="width: 100%;"
                                        src="https://www.myarduino.net/images/banks/KBANK.jpg?fbclid=IwAR0y1aa25yUHWkrYuBlnTi_5tLGGPRBOcZpP8ENGmrHfAu4AIbs_6xrxmOk"
                                        alt="">
                                </td>
                                <td style="width: 52%;padding:8px 22px;">
                                    <h4 class="bold" style="margin:0px;padding:0px;">
                                        ธ.กสิกรไทย
                                    </h4>
                                    <p>
                                        สาขาเซ็นทรัลพลาซา ขอนแก่น | ออมทรัพย์
                                    </p>
                                </td>
                                <td class="text-right" style="width: 30%;padding:8px 22px;">
                                    <p style="margin:0px;padding:0px;">บริษัท ทรัพย์พศวัฒน์ จำกัด</p>
                                    <h3 style="margin:0px;padding:0px;">
                                        044-075847-1
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <button *ngIf="o.status==0" class="btn btn-warning pull-right" (click)="goToPayment()">
                        ไปหน้าแจ้งชำระเงิน
                        <i class="fas fa-chevron-right"></i>
                    </button>

                    <button *ngIf="o.status>0" class="btn btn-secondary pull-right">
                        แจ้งชำระเงินแล้วรอการตรวจสอบ
                        <i class="fas fa-clock"></i>
                    </button>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

</app-auth-content>