<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>

    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <h1 class="bold" style="color:#FDCB03;">
                ร้อนนี้คุณมีเครื่องมือสู้ความร้อนหรือยัง ถ้ายังรีบสั่งเลย Snowmilk Gelato สร้างความสดชื่นดับร้อน
            </h1>
            <p style="color:#d3d3d3">โพสเมื่อวันที่ 22 Apr 2021</p>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.6435-9/154976257_100485692109502_3618439967363907002_n.png?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeFRdxYXER6Sh8m_ltzYx1NrIe40nYpQ3dsh7jSdilDd29jk0zU-anNZfnoaVBgsEYPdQ87w-CBwewuaj2hXuJyl&_nc_ohc=iC2d3o8qs4oAX_7HEEW&_nc_ht=scontent.fbkk13-1.fna&oh=7de50ba61a8806f0c2f79e2f5659be08&oe=60A57B4D"
                        class="thumbnail" style="width: 100%;" alt="">
                    <button class="btn btn-warning btn-block" [routerLink]="'/product'">
                        สั่งเลย
                    </button>
                </div>
                <div class="col-md-8" style="text-align: justify;">
                    <h3 class="bold">
                        ร้อนนี้คุณมีเครื่องมือสู้ความร้อนหรือยัง ถ้ายังรีบสั่งเลย Snowmilk Gelato สร้างความสดชื่นดับร้อน
                    </h3>
                    <p style="text-indent: 30px;">
                        #SnowmilkGelato เราสร้างความอร่อย มากกว่า 15 ปี เราไม่อยากให้คุณพลาด
                        อีกต่อไปถ้าคุณได้ลองแล้วคุณจะหลงรัก ในหนึ่งถ้วย คุณจะได้สัมผัส รสชาติ 3 แบบ 3 สไตล์ ในหนึ่งถ้วย
                    </p>
                    <ul>
                        <li style="margin:15px;margin-left: 30px;">
                            <i class="fas fa-heart" style="color:#da4dbb"></i>&nbsp;
                            สัมผัสแรกที่คุณจะรู้สึก ฟินไปกับความหอม มัน เนียน นุ่ม เนื้อแน่นๆ ของ นมสดแท้ ครีมสดอย่างดี
                            ในรูปแบบ Gelato
                        </li>
                        <li style="margin:15px;margin-left: 30px;">
                            <i class="fas fa-heart" style="color:#da4dbb"></i>&nbsp;
                            สัมผัสที่สอง คุณจะรู้สึก หอมหวานของของผลไม้แท้ ๆ ที่เบรี้ยวหวานกำลังดี
                            ที่ทำให้คุณจะสดชื่นในทันที่ตั้งแต่คำแรก
                        </li>
                        <li style="margin:15px;margin-left: 30px;">
                            <i class="fas fa-heart" style="color:#da4dbb"></i>&nbsp;
                            สัมผัสที่สาม คือการผสมผสานกันอย่างลงตัวของนมสดและผลไม้ ที่เข้ากันอย่างหน้าประหลาดใจ
                            จนทำให้คุณต้องฟินเวอร์ กว่าจะรู้ตัวอีกที่ก็หมดถ้วยกันซะละ
                        </li>
                    </ul>
                    <p style="text-indent: 30px;text-align: justify;">
                        Snowmilk เราผลิตไอศกรีมด้วยความตั้งใจ และใส่ใจในคุณภาพ ทุกขั้นตอน
                        จากจุดเริ่มต้นในการผลิตไอศกรีมให้ลูกได้ทานเองภายในบ้าน ประสบการณ์ กว่า15 ปี ที่ทำให้เติบโต
                        เป็นโรงงาน จนได้รับความไว้วางใจ จาก ร้านอาหาร และภัตตาคารชั้นนำหลากหลายที่ เช่น ห้องอาหาร ลามูล
                        รามายณะ ใน KingPower ร้านแสนยอด ร้านอิ่มปลาเผา ร้านชินคันเซ็น ร้าน GTh และอื่น ๆอีกมากมาย
                        หลายที่
                    </p>
                </div>
            </div>
        </div>
    </div>

</app-auth-content>