<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>

    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div *ngFor="let data of items;" class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <h1 class="bold" style="color:#FDCB03;">
                {{ data.title }}
            </h1>
            <p style="color:#d3d3d3">โพสเมื่อวันที่ {{ data.dor | date:'dd MM yyyy' }}</p>
            <div class="row">
                <div class="col-md-4">
                    <img [src]="data.image" class="thumbnail" style="width: 100%;" alt="">
                    <button class="btn btn-warning btn-block" [routerLink]="'/product'">
                        สั่งเลย
                    </button>
                </div>
                <div class="col-md-8" style="text-align: justify;">
                    <h1 class="bold">
                        {{ data.title }}
                    </h1>
                    <p style="color:#d3d3d3">โพสเมื่อวันที่ {{ data.dor | date:'dd MM yyyy' }}</p>
                    <p [innerHtml]="data.content"></p>
                    <div *ngIf="data.type>0">
                        <h3 class="bold">
                            โปรโมชั่นพิเศษ
                        </h3>
                        <ul>
                            <li>
                                *ลดทันที {{ data.discount }} % *เมื่อซื้อครบ
                                {{ data.type==1?data.condit:data.condit | number:'1.2-2' }}
                                {{ data.type==1?'ชิ้น':'บาท' }}
                            </li>
                            <li>
                                *{{ data.max_discount==0?'ไม่มีขั้นต่ำ':'สูงสุดไม่เกิน' }} {{
                                data.max_discount>0?data.max_discount:'' }}
                                <span *ngIf="data.max_discount>0"> บาท</span>
                            </li>
                            <li>
                                *เพียงใช้โค้ด
                                <h2>
                                    <span class="badge" style="background-color: #FDCB03;">
                                        {{ data.code }}
                                    </span>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-auth-content>