<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ไอศกรีม</li>
                <li class="breadcrumb-item">Snowmilk</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li *ngFor="let data of c.items;let i=index;">
                                <a [routerLink]="'/product'" [queryParams]="{category:data._id}"
                                    class="{{ option.category==data._id?'active':'' }}">
                                    {{ data.name }}
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <a *ngFor="let data of promote.items;" class="promote-img" [routerLink]="'/promotion'"
                                [queryParams]="{_id:data._id}"><img src="{{ data.image }}" class="img-thumbnail"></a>
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">

                    <div class="box-product wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 class="bold">Snowmilk Gelato</h3>
                        <p>
                            <span style="color:red;">****</span>
                            ถ้าต้องการติดต่อราคาส่ง และ OEM ให้ท่านสามารถส่งข้อมูลที่หน้าติดต่อเรา
                            แล้วทางเราจะติดต่อหาคุณให้เร็วที่สุด ขอบคุณค่ะ
                        </p>
                        <p class="text-right">
                            <i class="fas fa-shopping-cart"></i>
                            {{ cart }} รายการ
                        </p>
                        <hr>
                        <div *ngFor="let cate of c.items;let i = index;">
                            <h1 class="bold"
                                style="color:#fdcb03;background-color:black;padding:5px 16px;border-radius:8px;margin:15px 0px;">
                                {{ cate.name }}
                            </h1>
                            <div class="row">
                                <div *ngFor="let data of p.items;">
                                    <div *ngIf="data.category_id==cate._id" class="col-md-4 secondary" style="margin:15px 0px;">
                                        <div class="shadow33" >
                                            <img src="{{ data.image }}" class="wifi" alt="">
                                            <div class="middle">
                                                <a (click)="goToProductDetailOf(data._id)" class="text">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    สั่งเลย
                                                </a>
                                            </div>
                                            <div style="padding:15px">
                                                <h4>{{ data.name }}</h4>
                                                <p class="bold">{{ data.price | currency:'THB':'symbol-narrow':'1.2-2' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- <div class="text-center" style="margin-top: 20px;">
                            <button *ngIf="p.items.length<p.total_items"
                                class="btn btn-warning hvr-underline-from-center" (click)="onLoadMore()">
                                โหลดข้อมูลเพิ่มเติม
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>


</app-auth-content>