<app-auth-content>
    <!-- ส่วน Banner -->
    <div id="xxx" class="full-screen-mode parallax pad-top-100 pad-bottom-100"
        style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1 style="font-weight: bold;">Snowmilk Gelato</h1>
                            <h2 style="font-weight: bold;">Online store</h2>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>


    <div style="margin:40px 0px;" class="pad-bottom-100">
        <div class="container">
            <ul class="breadcrumb" style="border-radius: 0px;background:#ebebeb;color:#808080;">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item">ตะกร้าสินค้า</li>
            </ul>
            <div class="row">
                <!-- Column Left -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="wow fadeIn box-category" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h3 style="font-weight: bold;">ประเภทสินค้า</h3>
                        <ul>
                            <li *ngFor="let data of c.items;let i=index;">
                                <a [routerLink]="['/product']" [queryParams]="{category:data._id}">
                                    {{ data.name }}
                                </a>
                            </li>
                        </ul>

                        <div style="margin-top: 30px;">
                            <h3 style="font-weight: bold;">
                                โปรโมชั่นสุดพิเศษ
                            </h3>
                            <img src="http://html.lionode.com/focus/image/banners/LeftBanner.jpg?fbclid=IwAR3xa7eRqCsPDTiJeBhyYLuEDXU4KZIdP1sqsdWSc3eE277L6XRLtqKqQTE"
                                class="img-thumbnail">
                            <img src="https://img.his.in.th/cdn-cgi/image/format=auto/his/image/upload/w_640,h_853,c_fill,f_jpg/his/product/p6gLs2NmBtGG0aJNpUaRx0W6Dx0cIqQY/PH804808-a2.jpg"
                                class="img-thumbnail">
                        </div>
                    </div>
                </div>

                <!-- Column Right -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <!-- ส่วนรายละเอียดธนาคาร -->
                    <div>
                        <div class="bold text-center">
                            <h2 class="bold">
                                เลขที่คำสั่งซื้อของคุณคือ
                            </h2>
                            <h1 class="bold" style="font-size: 26pt;">#00{{ _id }}</h1>
                        </div>
                        <hr>
                        <h4 class="bold">

                            ชำระเงินผ่านธนาคาร
                        </h4>
                        <table class="table" style="padding:10px;">
                            <tr class="border" style="margin-bottom: 20px;border-radius: 8px;">
                                <td style="width: 10%;padding:10px;">
                                    <img style="width: 100%;"
                                        src="https://www.myarduino.net/images/banks/SCB.jpg?fbclid=IwAR101qEXbJmE40oRPq2GlW2uSPATktIAdCnozRSs_5zvHFWfUNH_0WbAbBo"
                                        alt="">
                                </td>
                                <td style="width: 52%;padding:8px 22px;">
                                    <h4 class="bold" style="margin:0px;padding:0px;">
                                        ธ.ไทยพาณิชย์
                                    </h4>
                                    <p>
                                        สาขาเซ็นทรัลพลาซา ขอนแก่น | ออมทรัพย์
                                    </p>
                                </td>
                                <td class="text-right" style="width: 30%;padding:8px 22px;">
                                    <p style="margin:0px;padding:0px;">บริษัท ทรัพย์พศวัฒน์ จำกัด</p>
                                    <h3 style="margin:0px;padding:0px;">
                                        044-075847-1
                                    </h3>
                                </td>
                            </tr>
                            <tr class="border" style="margin-bottom: 10px;border-radius: 8px;">
                                <td style="width: 10%;padding:10px;">
                                    <img style="width: 100%;"
                                        src="https://www.myarduino.net/images/banks/KBANK.jpg?fbclid=IwAR0y1aa25yUHWkrYuBlnTi_5tLGGPRBOcZpP8ENGmrHfAu4AIbs_6xrxmOk"
                                        alt="">
                                </td>
                                <td style="width: 52%;padding:8px 22px;">
                                    <h4 class="bold" style="margin:0px;padding:0px;">
                                        ธ.กสิกรไทย
                                    </h4>
                                    <p>
                                        สาขาเซ็นทรัลพลาซา ขอนแก่น | ออมทรัพย์
                                    </p>
                                </td>
                                <td class="text-right" style="width: 30%;padding:8px 22px;">
                                    <p style="margin:0px;padding:0px;">บริษัท ทรัพย์พศวัฒน์ จำกัด</p>
                                    <h3 style="margin:0px;padding:0px;">
                                        044-075847-1
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- ส่วนแจ้งชำระเงิน -->
                    <div style="margin-top: 30px;">
                        <h3 class="bold text-center" style="margin-bottom: 50px;">
                            รายละเอียดการชำระเงิน
                        </h3>
                        <div class="form-group">
                            <label for="">บัญชีที่โอนเงิน:</label>
                            <select class="form-control" name="" id="">
                                <option value="">ธ.ไทยพาณิชย์</option>
                                <option value="">ธ.กสิกรไทย</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">วันที่ชำระเงิน:</label>
                            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                                [bsConfig]="{ isAnimated: true }">
                        </div>
                        <div class="form-group">
                            <label for="">เวลาโดยประมาณ:</label>
                            <timepicker [(ngModel)]="mytime" [showMeridian]="false"></timepicker>
                        </div>
                        <div class="form-group">
                            <label for="">จำนวนเงิน:</label>
                            <input type="number" class="form-control" name="" id="">
                        </div>
                        <div class="form-group">
                            <label for="">หลักฐานการโอนเงิน:</label>
                            <input type="file" class="form-control" name="" id="">
                            <p class="text-mute">
                                การแนบหลักฐานจะช่วยทำให้ตรวจสอบได้เร็วขึ้น
                            </p>
                        </div>
                    </div>

                    <button class="btn btn-warning pull-right">
                        <i class="fas fa-check-circle"></i>
                        แจ้งชำระเงิน
                    </button>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <div id="footer" class="footer-main">
        <!-- end footer-news -->
        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="./assets/images/logo (1) (1).png" style="height: 64px;" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>เกี่ยวกับเรา</h3>
                                <p>Snowmilk Gelato ไอศกรีมโฮมเมดระดับพรีเมียม รสชาติเข้มข้นถูกปากคนไทย</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>สินค้าใหม่</h3>
                                <ul>
                                    <li><a href="#">Italian Bomba Sandwich</a></li>
                                    <li><a href="#">Double Dose of Pork Belly</a></li>
                                    <li><a href="#">Spicy Thai Noodles</a></li>
                                    <li><a href="#">Triple Truffle Trotters</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>ติดต่อเรา</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>421 ซอยร่วมสุข 4/18 ตำบล บ้านใหม่ อำเภอเมืองปทุมธานี ปทุมธานี 12000</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
                                        094-442-8897
                                    </span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span><a href="#">snowmilkgelato@gmail.com</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>รสชาติไอศกรีม</h3>
                                <h4 style="color:white">ที่ได้ชิมคำแรกก็ติดใจ</h4>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end footer-in-main -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->

                <!-- end copyright-main -->
            </div>
            <!-- end footer-box -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title"> Copyright &copy; 2017 Food Funday is powered by <a href="#"
                                    target="_blank"></a>
                            </h6>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
        </div>
    </div>

</app-auth-content>