/* You can add global styles to this file, and also import other style files */
.footer-box-c p{
    font-family: 'Kanit', sans-serif !important;
}

.hover:hover{
    cursor:pointer!important;
}

#shang-chi{
    position: fixed;
    width: fit-content;
    bottom: 15px;
    left: 15px;
    right: 0px;
    margin-bottom: 0px;    
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding:8px 15px;
    z-index: 500;
}

#shang-chi a.facebook{
    color:#3b5998;   
}

#shang-chi a.line{
    color:#00b900;
}