<app-auth-content>
  <div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="banner-static">
          <div class="banner-text">
            <div class="banner-cell">
              <h1 style="font-weight: bold;">รสชาติไอศกรีม</h1>
              <h2 style="font-weight: bold;"> ที่ได้ชิมคำแรกก็ติดใจ</h2>
              <p class="kanit">เขาว่าความอร่อยมันหลอกกันไม่ได้</p>
              <div class="book-btn">
                <a href="#reservation" [routerLink]="['/product']" class="table-btn hvr-underline-from-center">สั่งเลย</a>
              </div>
            </div>
            <!-- end banner-cell -->
          </div>
          <!-- end banner-text -->
        </div>
        <!-- end banner-static -->
      </div>
      <!-- end col -->
    </div>
    <!-- end container -->
  </div>

  
  <!-- end banner -->
  <div id="our_team" class="menu-main pad-top-100 pad-bottom-100 parallax" style="background:rgb(29, 29, 29)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title text-center">
              โปรโมชั่น
            </h2>
            <p class="title-caption text-center" style="color: white;"> Snowmilk อร่อย ดี แถมยังมีโปรโมชันอีกด้วยนะสั่งเลย </p>
          </div>
          <div class="blog-box clearfix">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <div class="col-md-6 col-sm-6">
                <div class="blog-block light33">
                  <div class="blog-img-box">
                    <img src="./assets/images/featured-image-01.jpg" alt="" />
                    <div class="overlay">
                      <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="blog-dit">
                    <p><span>25 NOVEMBER, 2014</span></p>
                    <h2>LATEST RECIPES JUST IN!</h2>
                    <h5>BY John Doggett</h5>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
              <div class="col-md-6 col-sm-6 ">
                <div class="blog-block light33">
                  <div class="blog-img-box">
                    <img src="./assets/images/featured-image-02.jpg" alt="" />
                    <div class="overlay">
                      <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="blog-dit">
                    <p><span>2 NOVEMBER, 2014</span></p>
                    <h2>NEW RECRUITS HAVE ARRIVED!</h2>
                    <h5>BY Jeffrey Spender</h5>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
          </div>
          <!-- end team-box -->
  
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  
  <div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title text-center">
              ไอศกรีม 6 รสชาติที่ผู้คนสนใจ
            </h2>
            <p class="title-caption text-center">
              เรารวบรวมมาไว้ให้แล้วไอศกรีม 6 รสชาติ ที่ฮอตปรอทแตกที่สุดในช่วงเวลานี้  
            </p>
          </div>
          <div style="background-color:#686868!important;">
            <div *ngFor="let data of top_product.items;let i = index;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
              <div class="offer-item">
                <img src="{{ data.image }}" alt="" class="img-responsive">
                <div>
                  <h3>{{ data.name }}</h3>
                  <p>
                    {{ data.taste }}
                  </p>
                </div>
                <span class="offer-price kanit pointer" style="color:#FDCB03">
                  <a (click)="loadProductByID(data._id)" style="color:#FDCB03">คลิก</a>
                </span>
              </div>
            </div>
          </div>
          <!-- end tab-menu -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
      
      <button class="btn btn-lg btn-warning btn-block hvr-underline-from-center" [routerLink]="['/product']">ดูสินค้าทั้งหมด</button>
    </div> 
    <!-- end container -->
  </div>




  <div class="special-menu pad-top-100 parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title color-white text-center"> ไอศกรีมขายดี </h2>
            <h5 class="title-caption text-center"> อากาศร้อนขนาดนี้ต้องมีอะไรเย็น ๆ มาช่วยคลายร้อนหน่อยแล้ว Snowmilk </h5>
          </div>
          <div class="row pad-bottom-100">
            <div class="{{ best_seller.total_items==3?'col-md-4':best_seller.total_items==2?'col-md-6':'col-md-12' }}" *ngFor="let data of best_seller.items;let i = index;">
              <img src="{{ data.image }}" class="product-best-seller" style="width: 100%;" alt="">
            </div>
          </div>
          <!-- end special-box -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
    
  <div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title"> เกี่ยวกับเรา </h2>
            <h3>เริ่มต้นจาก...</h3>
            <p class="text-justify"> สโนว์มิลค์ เจลาโต้ หรือ Snowmilk Gelato คือ โรงงานรับผลิตไอศกรีมพรีเมียมประเภทเจลาโต้
              หรือไอศกรีมเจลาโต้
              (Gelato) ที่ได้คุณภาพมาตรฐาน GMP. ได้รับการจดแจ้งจาก อย.เป็นที่เรียบร้อย ตั้งอยู่ในพื้นที่ จ.ปทุมธานี
              บริหารโดย คุณเอกวิทย์ ตันติสุนทโรดม ซึ่งดำรงตำแหน่ง กรรมการผู้จัดการ และเป็นผู้ก่อตั้ง บริษัท สโนว์มิลค์
              เจลาโต้ จำกัด </p>
            <h3>ปัจจุบัน</h3>
            <p class="text-justify"> สโนว์มิลค์ เจลาโต้ คือ
              ผู้อยู่เบื้องหลังไอศกรีมเจลาโต้เกรดพรีเมียมซึ่งรับผลิตและนำส่งมอบให้กับบริษัทและแบรนด์ร้านอาหารรายย่อยรายใหญ่มากมาย
              อาทิเช่น คิง เพาเวอร์(KING POWER) , ร้านกาแฟพันธุ์ไทย(Pun Thai Coffee) , ร้านชินคันเซ็น(Shinkanzen),
              FUKU-อาหารญี่ปุ่น , ร้านปิ้งย่าง ไจแอนท์ ยากินิกุ (Giants Yakiniku) ,ร้านอาหาร ร้านหมูกระทะ ร้านกาแฟ
              ร้านไอศกรีม ร้านบิงซู ที่ต้องการนำไอศกรีมรสชาติพรีเมียมที่ สโนว์มิลค์ เจลาโต้
              มีผลิตอยู่แล้วซึ่งเป็นรสชาติพื้นฐานของโรงงานนำไปเสริมหน้าร้านหรือต่อยอดธุรกิจร้านอาหารของผู้สนใจได้อย่างอิสระ
              ตลอดจน สโนว์มิลค์ เจลาโต้ รับผลิตไอศกรีมเจลาโต้ตามสูตรที่ลูกค้าต้องการ ภายใต้โนว์ฮาว วัตถุดิบ
              และเครื่องจักรในไลน์ผลิตที่ทันสมัย สามารถพัฒนาและต่อยอดรสชาติไอศกรีมได้มากกว่า 100 รสชาติ
            </p>
            <p class="text-justify">
              รับผลิตภายใต้คอร์สที่ลูกค้ามีเงินทุนอย่างจำกัด ซึ่งบริษัทฯ พร้อมเป็นที่ปรึกษาการปรับปรุงพัฒนาสูตร
              การคิดคำนวณต้นทุนการผลิต และรับผลิตไอศกรีมที่ได้มาตรฐานตามสั่งให้กับลูกค้าทุกท่าน
            </p>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="about-images">
              <img class="about-main" style="width: 410px;height:410px;object-fit: cover;"
                src="./assets/images/bg3.png" alt="About Main Image">
              <img class="about-inset" style="height: 160px;width:160px;background-color: white;"
                src="./assets/images/logo (1) (1).png" alt="About Inset Image">
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  

  <!-- end team-main -->
  
  <div id="footer" class="footer-main">
    <!-- end footer-news -->
    <div class="footer-box pad-top-70">
      <div class="container">
        <div class="row">
          <div class="footer-in-main">
            <div class="footer-logo">
              <div class="text-center">
                <img src="./assets/images/logo (1) (1).png" style="height: 64px;" alt="" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-a">
                <h3>เกี่ยวกับเรา</h3>
                <p>Snowmilk Gelato ไอศกรีมโฮมเมดระดับพรีเมียม รสชาติเข้มข้นถูกปากคนไทย</p>
                <ul class="socials-box footer-socials pull-left">
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                    </a>
                  </li>
                </ul>
  
              </div>
              <!-- end footer-box-a -->
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-b">
                <h3>สินค้าใหม่</h3>
                <ul>
                  <li><a href="#">Italian Bomba Sandwich</a></li>
                  <li><a href="#">Double Dose of Pork Belly</a></li>
                  <li><a href="#">Spicy Thai Noodles</a></li>
                  <li><a href="#">Triple Truffle Trotters</a></li>
                </ul>
              </div>
              <!-- end footer-box-b -->
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-c">
                <h3>ติดต่อเรา</h3>
                <p>
                  <i class="fa fa-map-signs" aria-hidden="true"></i>
                  <span>421 ซอยร่วมสุข 4/18 ตำบล บ้านใหม่ อำเภอเมืองปทุมธานี ปทุมธานี 12000</span>
                </p>
                <p>
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  <span>
                    094-442-8897
                  </span>
                </p>
                <p>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span><a href="#">snowmilkgelato@gmail.com</a></span>
                </p>
              </div>
              <!-- end footer-box-c -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-c">
                <h3>รสชาติไอศกรีม</h3>
                <h4 style="color:white">ที่ได้ชิมคำแรกก็ติดใจ</h4>
              </div>
            <!-- end col -->
          </div>
          <!-- end footer-in-main -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
  
      <!-- end copyright-main -->
    </div>
    <!-- end footer-box -->
    <div id="copyright" class="copyright-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h6 class="copy-title"> Copyright &copy; 2017 Food Funday is powered by <a href="#" target="_blank"></a>
            </h6>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
  </div>
  
  <!-- end footer-main -->
  
  <a href="#" class="scrollup" style="display: none;">Scroll</a>
</app-auth-content>